<div class="page-header">
    <h1>{{user.username}}'s Profile</h1>
</div>


<div class="panel panel-info">
    <div class="panel-heading" style="text-align:center;"><strong>User Profile</strong></div>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email Address</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>********</td>
            </tr>
        </tbody>
    </table>
</div>

